absl-py==0.8.1
affine==2.3.0
apache-beam==2.23.0
argcomplete==1.11.1
astunparse==1.6.3
attrs==19.3.0
avro-python3==1.9.2.1
backcall==0.2.0
bleach==3.1.5
boto==2.49.0
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
crcmod==1.7
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
docker==4.3.1
docopt==0.6.2
earthengine-api==0.1.229
entrypoints==0.3
fastavro==0.23.6
fasteners==0.15
Fiona==1.8.13.post1
forestci==0.4.dev0
future==0.18.2
gast==0.3.3
gcs-oauth2-boto-plugin==2.7
geopandas==0.7.0
google-api-core==1.16.0
google-api-python-client==1.8.0
google-apitools==0.5.31
google-auth==1.12.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.24.0
google-cloud-bigtable==1.0.0
google-cloud-core==1.3.0
google-cloud-datastore==1.7.4
google-cloud-dlp==0.13.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.0.2
google-cloud-spanner==1.13.0
google-cloud-storage==1.26.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-crc32c==1.0.0
google-pasta==0.2.0
google-reauth==0.1.0
google-resumable-media==0.5.1
googleapis-common-protos==1.51.0
grpc-google-iam-v1==0.12.3
grpcio==1.30.0
grpcio-gcp==0.2.2
gsutil==4.53
h5py==2.10.0
hdfs==2.5.8
httplib2==0.18.1
httplib2shim==0.0.3
idna==2.9
importlib-metadata==1.7.0
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.1
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
kiwisolver==1.2.0
kubernetes==11.0.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
ml-metadata==0.23.0
mock==2.0.0
monotonic==1.5
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.7
nose==1.3.7
notebook==6.0.3
numpy==1.18.2
oauth2client==3.0.0
oauthlib==3.1.0
openet-ssebop==0.0.27
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.11.3
ptyprocess==0.6.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
pymongo==3.11.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.0
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
pyu2f==0.1.4
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
rasterio==1.1.3
requests==2.23.0
requests-oauthlib==1.3.0
retry-decorator==1.1.1
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
Shapely==1.7.0
six==1.14.0
snuggs==1.4.7
SocksiPy-branch==1.1
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-data-validation==0.23.0
tensorflow-estimator==2.3.0
tensorflow-io==0.15.0
tensorflow-metadata==0.23.0
tensorflow-model-analysis==0.23.0
tensorflow-serving-api==2.3.0
tensorflow-transform==0.23.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
tfx-bsl==0.23.0
tornado==6.0.4
tqdm==4.49.0
traitlets==4.3.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
